button, input, label {
    border-color: black;
}
/* 7 COUNTER PROGRAM*/
#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(179, 219, 255);
    background-color: rgb(255, 203, 125);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover {
    background-color: rgba(255, 209, 140, 0.418);
}

/* 9 RANDOM NUMBER GENERATOR*/
body {
    font-family: Verdana;
}

#rngBtnContainer {
    text-align: center;
    font-size: 2em
}
#rngBtn {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;;
}
#rngLabel {
    font-size: 3em;
}

/* 11 CHECKED PROPERTY*/
#cpSubmit {
    font-size: 1em;
}

/* 24 TEMPERATURE CONVERSION PROGRAM*/
#tempConvert-h1 {
    display: inline-block;
    background: linear-gradient(90deg, blue 50%, red 50%);
}

#tempForm {
    background: linear-gradient(45deg, blue 50%, red 50%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px;
}

#tempTextbox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}

.tempLabel {
    font-size: 1.5em;
    font-weight: bold;
}

#tempBtn {
    margin-top: 15px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

#tempBtn:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#tempResult {
    font-size: 1.75em;
    font-weight: bold;
}

/* 53 DIGITAL CLOCK PROGRAM*/
#clock-container {
    display: flex;
    justify-content: center;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem; /*REM IS RELATIVE TO THE ROOT ELEMENT (DEFAULT FONT SIZE OF THE BROWSER). EM IS RELATIVE TO THE PARENT ELEMENT'S FONT SIZE, MEANS A BUTTON CAN GROW OR SHRINK WITHIN ITS CONTAINER*/
    font-weight: bold;
    text-align: center;
    width: 100%;
}

/* 54 STOPWATCH PROGRAM*/
#stopwatchProgram {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(142, 142, 142);
}

#stopwatch-h2 {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.25);
}

#stopwatchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#stopwatchDisplay {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 2px 2px 2px;
    margin-bottom: 25px;
}

#stopwatchControls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease; /*when you hover over the buttons it will slowly change to a darker shade*/
}

#startBtn {
    background-color: hsl(120, 91%, 40%);
}
#startBtn:hover {
    background-color: hsl(120, 91%, 30%);
}

#stopBtn {
    background-color: hsl(0, 100%, 40%);
}
#stopBtn:hover {
    background-color: hsl(0, 100%, 30%);
}

#resetBtn {
    background-color: hsl(237, 100%, 40%);
}
#resetBtn:hover {
    background-color: hsl(237, 100%, 30%);
}

/* 58 CALCULATOR PROGRAM*/
#calculator {
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#calculatorDisplay {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    display: flex;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#calculatorKeys { /*the entire keyboard*/
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*4 columns 1 fractional unit (1 even unit of space*/
    gap: 10px;
    padding: 25px;
}

#calculatorKeys button { /*each individual button*/
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 42%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    }

#calculatorKeys button:hover {
    background-color: hsl(0, 0%, 32%);
}
#calculatorKeys button:active {
    background-color: hsl(0, 0%, 50%);
}

#calculatorKeys .operatorBtn {
    background-color: hsl(39, 100%, 40%);
}
#calculatorKeys .operatorBtn:hover {
    background-color: hsl(39, 100%, 30%);
}
#calculatorKeys .operatorBtn:active {
    background-color: hsl(39, 100%, 50%);
}

/* 62 ADD & CHANGE HTML*/
.box {
    border: 3px solid;
    width: 100%;
    height: 125px;
}

#olFruits {
    border: 3px solid;
    font-size: 2rem;
}

/* 63 MOUSE EVENTS*/
#mouseEventBox {
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}
#mouseEventBtn{
    font-size: 3rem;
}

/* 64 KEY EVENTS*/
#keyEventBox {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 65 HIDE/SHOW HTML*/
#hideBtn {
    font-size: 2rem;
}

/* 66 NODELISTS*/
.nodelistBtns {
    font-size: 4rem;
    margin: 10px;
    padding: 10px 15px;
    background-color: hsl(229, 100%, 62%);
    color: white;
}

/* 67 CLASSLISTS*/
#classListBtn, .classlistBtns {
    font-size: 4rem;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 15px;
}

.enabled { /* apply this class to the button using JS*/
    background-color: hsl(240, 72%, 41%);
    color: white;
}
.hover {
    box-shadow: 0 0 10px black;
    font-weight: bold;
}
.disabled {
    background-color: rgb(192, 192, 192);
    color: rgb(0, 0, 0);
}

/* 68 ROCK PAPER SCISSORS*/
#rpsProgam {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choices {
    margin-bottom: 30px;
}
.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px; /*no margin on top and bottom 10px on left and right*/
    border-radius: 200px; /*make into circle*/
    background-color: rgb(192, 192, 192);
    cursor: pointer;
    transition: background-color 0.5s ease; /*change color in a smooth motion (fade)*/
}
.choices button:hover {
    background-color: hsl(0, 0%, 55%);
}
#playerDisplay, #cpuDisplay {
    font-size: 2.5rem;
}
#resultDisplay {
    font-size: 5rem;
    margin: 30px 0px; /*30 px on the top and bottom, none on the sides*/
}
.scoreDisplay {
    font-size: 2rem;
}
.redText, #cpuScoreDisplay {
    color: red;
}
.greenText, #playerScoreDisplay {
    color: lightgreen;
}