/* 7 COUNTER PROGRAM*/
#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(179, 219, 255);
    background-color: rgb(255, 203, 125);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover {
    background-color: rgba(255, 209, 140, 0.418);
}

/* 9 RANDOM NUMBER GENERATOR*/
body {
    font-family: Verdana;
}

#rngBtnContainer {
    text-align: center;
    font-size: 2em
}
#rngBtn {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;;
}
#rngLabel {
    font-size: 3em;
}

/* 11 CHECKED PROPERTY*/
#cpSubmit {
    font-size: 1em;
}

/* 24 TEMPERATURE CONVERSION PROGRAM*/
#tempConvert-h1 {
    display: inline-block;
    background: linear-gradient(90deg, blue 50%, red 50%);
}

#tempForm {
    background: linear-gradient(45deg, blue 50%, red 50%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px;
}

#tempTextbox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}

.tempLabel {
    font-size: 1.5em;
    font-weight: bold;
}

#tempBtn {
    margin-top: 15px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

#tempBtn:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#tempResult {
    font-size: 1.75em;
    font-weight: bold;
}

/* 53 DIGITAL CLOCK PROGRAM*/
#clock-container {
    display: flex;
    justify-content: center;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}